In [269]:
###подключаем библиотеки
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

datset = pd.read_csv("real_estate_data.csv", sep="\t") ###прочитать таблицу
dataset = datset.replace(np.nan, 0)
dataset.shape ###исследование
dataset.head() ###вывод значений

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,0,...,25.0,0.0,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,0.0
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,0.00,11.0,18.6,1,0,...,11.0,2.0,посёлок Шушары,12817.0,18603.0,0.0,0.0,0.0,0.0,81.0
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,0.00,5.0,34.3,4,0,...,8.3,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,0.00,14.0,0.0,9,0,...,0.0,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,0,...,41.0,0.0,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0

In [270]:
X = dataset[['total_area','rooms','floor', 'parks_around3000','ceiling_height','living_area','kitchen_area','airports_nearest']] 
y = dataset['last_price']

In [279]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

In [280]:
from sklearn.linear_model import LinearRegression 
regressor = LinearRegression() 
regressor.fit(X_train, y_train)
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
coeff_df

                   Coefficient
total_area        2.645909e+05
rooms            -3.445955e+06
floor             1.452182e+04
parks_around3000  9.030019e+05
ceiling_height    2.881335e+04
living_area       2.815000e+04
kitchen_area     -6.776298e+03
airports_nearest  1.671290e+01

In [281]:
y_pred = regressor.predict(X_test)
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred}) 
df

           Actual     Predicted
4631    7570000.0  8.568618e+06
17913   2490000.0  4.036399e+06
21278   2850000.0  4.286063e+06
22608   8580000.0  9.208493e+06
2606   12000000.0  1.331118e+07
...           ...           ...
17699   9888247.0  1.142587e+07
3309    3900000.0  3.405062e+06
17861   3900000.0  2.965497e+06
21894   6550000.0  6.278227e+06
12231   5700000.0  4.986441e+06

[2370 rows x 2 columns]

In [282]:
from sklearn import metrics 
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred)) 
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 2369107.8047169675
Mean Squared Error: 26802806350009.277
Root Mean Squared Error: 5177142.682021549